@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
b,
span,
button {
  font-family: theme('fontFamily.prompt');
}

a {
  @apply transition-opacity duration-300;

  &:hover {
    @apply opacity-75;
  }
}
