<template lang="pug">
#app
  Nuxt
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import Navbar from '../components/menus/Navbar.vue'
export default defineComponent({
  components: {
    Navbar,
  },
})
</script>
