<template lang="pug">
.section-hero.w-full.h-screen.flex.p-3.bg-green-100
  .h-full.w-full
    .info.p-4
      .info-content
        .flex.justify-center.items-center.mt-40
          .flex.flex-col.items-center
            h1.text-9xl 404 
            h1.text-3xl Page Not Found 
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({})
</script>
