<template lang="pug">
.section-hero.w-full.h-screen.flex.px-3
  .h-full.w-full
    .info.p-4
      .info-content
        .flex.justify-between.items-center
          h1.title พนักงานทั้งหมดในร้าน
          .description.flex.w-auto.space-x-5.items-center
            ModalFilter
            ModalAddEmployee
            ModalAddLeaveList
            nuxt-link(to="/resigned").cursor-pointer.px-3.py-2.rounded-full.shadow.outline-none.space-x-1.flex.items-center(class="text-white bg-red-400 hover:bg-red-500 focus:outline-none")
              ion-icon(name="person-remove-outline")
              button ดูพนักงานที่ลาออก

    Table
    Pagination.w-full.flex.justify-center.mt-5
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

import ModalAddEmployee from '../components/modals/AddEmployee.vue'
import ModalFilter from '../components/modals/Filter.vue'
import ModalAddLeaveList from '../components/modals/AddLeaveList.vue'
import Table from '../components/menus/Table.vue'
import Pagination from '../components/Pagination.vue'
export default defineComponent({
  components: {
    ModalAddEmployee,
    ModalFilter,
    ModalAddLeaveList,
    Table,
    Pagination,
  },
  layout: 'navbar',
  mounted() {
    this.fetchActiveOfficers()
    this.fetchLeaveOfficers()
  },
  methods: {
    fetchActiveOfficers() {
      this.$store.dispatch('fetchActiveOfficers')
    },
    fetchLeaveOfficers() {
      this.$store.dispatch('leave/fetchLeaveOfficers')
    },
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/pages/index.scss';
</style>
