<template lang="pug">
.section.w-full.h-screen.flex.flex-col-reveresed
	<img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="background" class="object-cover object-center h-screen w-7/12">
	.main.flex.items-center.justify-center.bg-white.w-full.p-2
		.texthead.bg-white.flex.flex-col.justify-center.items-center
			h.text-3xl.font-black.text-black.pt-16 Search
			.w-full.max-w-xs
				.form.bg-white.rounded.px-8.pt-6.pb-8
					.pb-4.space-y-2
						p ID Card
						input#email.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-gray-700.leading-tight(
						class='focus:outline-none focus:shadow-outline',
						type='text'
						)
					.pb-4
						button.bg-red-400.w-full.h-9.text-white.rounded(
						class='focus:outline-none focus:bg-red-500 focus:ring focus:ring-red-200'
						) Search

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({})
</script>

<style lang="postcss" scoped>
.texthead {
  width: 5/12;
}
.login-with {
  @apply hover:bg-red-400 hover:text-white;
}
</style>
