<template lang="pug">
.section.w-full.h-screen.flex.flex-col-reveresed
	img(src="https://media.istockphoto.com/photos/patient-care-just-got-a-whole-lot-more-streamlined-picture-id1288871608?b=1&k=20&m=1288871608&s=170667a&w=0&h=65AfPv73VJBe2zEidtW_0iOvPhRyNfesqksdPDRqibg=" alt="background" class="object-cover object-center h-screen w-7/12")
	.main.flex.items-center.justify-center.bg-white.w-full.p-2
		.texthead.bg-white.flex.flex-col.justify-center.items-center
			h.text-3xl.font-black.text-black.pt-16 LOGIN
			.w-full.max-w-xs
				.px-8.pt-10.mb-4
					p LOGIN TO ADMIN
				.form.bg-white.rounded.px-8.pt-6.pb-8
					.pb-4.space-y-2
						p Email
						input(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text")
					.pb-4.space-y-2
						p Password
						input(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text")
					.pb-4
						nuxt-link(to="/admin")
							button(class="focus:outline-none bg-red-400 focus:bg-red-500 focus:ring focus:ring-red-200 w-full h-9 text-white rounded") Log in
				

</template>

<script lang="ts">
export default {

}
</script>

<style lang="postcss" scoped>
.texthead {
	width: 5/12;
}
.login-with {
	@apply hover:bg-red-400 hover:text-white;
}
</style>
