<template lang="pug">
.section-hero.w-full.h-screen.flex.px-3
  .h-full.w-full
    .info.p-4
      .info-content
        .flex.justify-between.items-center
          h1.title พนักงานที่ลาออก
          .description.flex.w-auto.space-x-5.items-center
            ModalFilter
    Resigned
    Pagination.w-full.flex.justify-center.mt-5
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import ModalFilter from '../components/modals/Filter.vue'
import Resigned from '../components/menus/Resigned-Table.vue'
import Pagination from '../components/Pagination.vue'
export default defineComponent({
  components: {
    ModalFilter,
    Resigned,
    Pagination,
  },
  layout: 'navbar',
  mounted() {
    this.fetchResignedOfficers()
  },
  methods: {
    fetchResignedOfficers() {
      this.$store.dispatch('resigned/fetchResignedOfficers')
    },
  },
})
</script>

<style lang="scss" scoped>
@import '@/assets/scss/pages/index.scss';
</style>
