<template lang="pug">
.modal-container
  .cursor-pointer.px-3.py-2.rounded-full.shadow.outline-none.space-x-1.flex.items-center(class="text-white bg-pink-400 hover:bg-pink-500 focus:outline-none" @click="toggleModal()")
    ion-icon(name="add-circle-outline")
    button เพิ่มรายการลา
  .overflow-x-hidden.overflow-y-auto.fixed.inset-0.z-50.outline-none.justify-center.items-center.flex(v-if="showModal" class="focus:outline-none")
    .relative.w-auto.my-6.mx-auto.max-w-3xl
      // content
      .border-0.rounded-lg.shadow-lg.relative.flex.flex-col.w-full.bg-white.outline-none(class="focus:outline-none")
        // header
        .flex.items-start.justify-between.p-5.border-b.border-solid.border-blueGray-200.rounded-t
          h3.text-2xl.font-semibold กรอกข้อมูล
          button.p-1.ml-auto.border-0.float-right.outline-none(class="focus:outline-none" @click="toggleModal()")
            ion-icon(name="close-outline" color="danger" class="close").h-6.w-6.text-2xl.block.outline-none
        // body
        .relative.p-6.flex-auto.space-y-3
          .flex.justify-between.space-x-3
          p ชื่อ - นามสกุล
          DropdownOfficers(v-model="idCard")
          .flex.w-full.justify-between
            .flex.flex-col
              p ลาพักผ่อน
                .relative.w-20
                  input(type="number" v-model="leave")
                  .absolute.top-5.right-3.flex.justify-items-center
                    ion-icon(name="remove-circle-outline" @click="decrementLeave()")
                    ion-icon(name="add-circle-outline" @click="incrementLeave()")
            .flex.flex-col
              p ลากิจ
                .relative.w-20
                  input(type="number" v-model="personalLeave")
                  .absolute.top-5.right-3.flex.justify-items-center
                    ion-icon(name="remove-circle-outline" @click="decrementPersonalLeave()")
                    ion-icon(name="add-circle-outline" @click="incrementPersonalLeave()")
            .flex.flex-col
              p ลาป่วย
                .relative.w-20
                  input(type="number" v-model="sickLeave")
                  .absolute.top-5.right-3.flex.justify-items-center
                    ion-icon(name="remove-circle-outline" @click="decrementSickLeave()")
                    ion-icon(name="add-circle-outline" @click="incrementSickLeave()")
        // footer
        .flex.items-center.justify-end.p-6.border-t.border-solid.rounded-b
          button.text-red-500.bg-transparent.border.border-solid.border-red-500.font-bold.uppercase.text-sm.px-6.py-3.rounded.outline-none.mr-1.mb-1.ease-linear.transition-all.duration-150(class="hover:bg-red-500 hover:text-white active:bg-red-600 focus:outline-none" type="button" @click="toggleModal()") ปิด
          button.text-red-500.bg-transparent.border.border-solid.border-red-500.font-bold.uppercase.text-sm.px-6.py-3.rounded.outline-none.mr-1.mb-1.ease-linear.transition-all.duration-150(class="hover:bg-green-500 hover:text-white active:bg-red-600  focus:outline-none" type="button" @click="putAddLeave()") บันทึก
  .opacity-25.fixed.inset-0.z-40.bg-black(v-if="showModal")
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { mapGetters } from 'vuex'
import DropdownOfficers from '../forms/DropdownOfficers.vue'
export default defineComponent({
  name: 'ModalAddLeaveList',
  components: {
    DropdownOfficers,
  },
  data() {
    return {
      idCard: '',
      leave: 0,
      personalLeave: 0,
      sickLeave: 0,
      showModal: false,
    }
  },
  computed: {
    ...mapGetters(['getData']),
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal
    },
    putAddLeave() {
      this.$store.dispatch('leave/putAddLeave', {
        idCard: this.idCard,
        leave: this.leave,
        personalLeave: this.personalLeave,
        sickLeave: this.sickLeave,
      })
      // this.$store.dispatch('addLeaveList')
      this.toggleModal()
    },
    incrementLeave() {
      this.leave++
    },
    decrementLeave() {
      if (this.leave === 0) {
        return
      }
      this.leave--
    },
    incrementPersonalLeave() {
      this.personalLeave++
    },
    decrementPersonalLeave() {
      if (this.personalLeave === 0) {
        return
      }
      this.personalLeave--
    },
    incrementSickLeave() {
      this.sickLeave++
    },
    decrementSickLeave() {
      if (this.sickLeave === 0) {
        return
      }
      this.sickLeave--
    },
  },
})
</script>

<style lang="postcss" scoped>
input {
  @apply w-full px-3 border-black border rounded-sm;

  height: 3.5rem;

  &::placeholder {
    @apply text-gray-400;
  }

  &:focus {
    @apply border border-green-300 outline-none;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
