<template lang="pug">
.modal-container
  .cursor-pointer.px-3.py-2.rounded-full.shadow.outline-none.space-x-1.flex.items-center(class="text-white bg-pink-400 hover:bg-pink-500 focus:outline-none" @click="toggleModal()")
    ion-icon(name="filter-outline")
    button ฟิลเตอร์
  .overflow-x-hidden.overflow-y-auto.fixed.inset-0.z-50.outline-none.justify-center.items-center.flex(v-if="showModal" class="focus:outline-none")
    .relative.w-auto.my-6.mx-auto.max-w-3xl
      // content
      .border-0.rounded-lg.shadow-lg.relative.flex.flex-col.w-full.bg-white.outline-none(class="focus:outline-none")
        // header
        .flex.items-start.justify-between.p-5.border-b.border-solid.border-blueGray-200.rounded-t
          h3.text-3xl.font-semibold เลือกประเภท
          button.p-1.ml-auto.border-0.float-right.outline-none(class="focus:outline-none" @click="toggleModal()")
            ion-icon(name="close-outline" color="danger" class="close").h-6.w-6.text-2xl.block.outline-none
        // body
        .relative.p-6.flex-auto.space-y-3
          input(placeholder="กรอกเลขบัตรประชาชน")
          input(placeholder="กรอกชื่อ")
          input(placeholder="กรอกนามสกุล")
          p ประวัติ
          Checkbox
          p ตำแหน่ง
          Dropdown
          p เพศ
          Radio
        // footer
        .flex.items-center.justify-end.p-6.border-t.border-solid.border-blueGray-200.rounded-b
          button.text-red-500.bg-transparent.border.border-solid.border-red-500.font-bold.uppercase.text-sm.px-6.py-3.rounded.outline-none.mr-1.mb-1.ease-linear.transition-all.duration-150(class="hover:bg-red-500 hover:text-white active:bg-red-600 focus:outline-none" type="button" @click="toggleModal()") ปิด
          button.text-red-500.bg-transparent.border.border-solid.border-red-500.font-bold.uppercase.text-sm.px-6.py-3.rounded.outline-none.mr-1.mb-1.ease-linear.transition-all.duration-150(class="hover:bg-green-500 hover:text-white active:bg-red-600  focus:outline-none" type="button" @click="addData()") บันทึก
  .opacity-25.fixed.inset-0.z-40.bg-black(v-if="showModal")
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import Checkbox from '../forms/Checkbox.vue'
import Dropdown from '../forms/Dropdown.vue'
import Radio from '../forms/Radio.vue'
export default defineComponent({
  name: 'Modal',
  components: {
    Checkbox,
    Dropdown,
    Radio,
  },
  data() {
    return {
      showModal: false,
    }
  },
  methods: {
    toggleModal() {
      this.showModal = !this.showModal
    },
  },
})
</script>
<style lang="postcss" scoped>
input {
  @apply w-full px-3 border-black border rounded-sm;

  height: 3.5rem;

  &::placeholder {
    @apply text-gray-400;
  }

  &:focus {
    @apply border border-green-300 outline-none;
  }
}
</style>
