<template lang="pug">
  header
    .container
      .w-full.h-16.shadow-md.flex.justify-between.items-center.px-3
        nuxt-link(to="/").flex.items-center.space-x-3
          .logo.w-14.h-14.bg-center.bg-cover.rounded-full(style="background-image: url('https://pbs.twimg.com/media/Dp85iExUwAAHdT0?format=jpg');")
          .uppercase.font-bold.text-3xl KFZ
        input.search(placeholder="ค้นหา" type="text")

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({})
</script>

<style lang="postcss" scoped>
.search {
  @apply w-72 h-10 border-2 px-2 rounded-full;
}
input[type='text'] {
  transition: width 0.4s ease-in-out;
  background-color: white;
  background-image: url('static/search.png');
  background-position: 6px 6px;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 40px;
}

input[type='text']:focus {
  width: 41%;
}
</style>
