<template lang="pug">
.table-container
  table.table-fixed.border-collapse.border.border-green-800.w-full
    thead
      tr
        th(class="w-1/5") ชื่อ
        th(class="w-1/5") นามสกุล
        th ตำแหน่ง
        th แผนก
        th ตัวเลือก
    tbody
      tr(v-for="(item, index) in getData" :key="index")
        td {{ item.firstName }}
        td {{ item.lastName }}
        td {{ item.position }}
        td {{ item.department }}
        td
          .flex.items-center.justify-around
            ion-icon(class="cursor-pointer p-2 rounded-full text-white bg-red-400 hover:bg-red-500 focus:outline-none" name="trash-outline"  @click="deleteEmployees(item)")

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { mapGetters } from 'vuex'

export default defineComponent({
  computed: {
    ...mapGetters({ getData: 'resigned/getData' }),
  },
  methods: {
    deleteEmployees(employee: any) {
      if (confirm('คุณต้องการลบข้อมูลพนักงานใช่หรือไม่')) {
        this.$store.dispatch('resigned/deleteEmployees', employee._id)
      }
    },
  },
})
</script>
<style lang="postcss" scoped>
td,
th {
  @apply border border-green-200 text-center;
}
</style>
