<template lang="pug">
.section
    .flex.b-g-100
        aside.bg-red-400.relative.h-screen.w-72
            .p-6
                a.text-white.te-3xl.uppercase.font-bold.text-3xl KFZ
            nav.text-white.text-base.pt-3
                input.search.flex.items-center.w-64.h-10.border-2.px-2.rounded-full(placeholder="ค้นหา")
                a.flex.items-center.active-nav-link.text-white.py-4.pl-6.nav-item
                    i.mr-3 พนักงานทั้งหมด
                a.flex.items-center.active-nav-link.text-white.py-4.pl-6.nav-item
                    i.mr-3 เพิ่มรายการ

</template>
<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({})
</script>
