<template lang="pug">
.table-container.flex.w-full
  table.table-auto.border-collapse.border.border-green-800(class="w-3/4")
    thead
      tr
        th(class="w-1/5") ชื่อ
        th(class="w-1/5") นามสกุล
        th ตำแหน่ง
        th แผนก
    tbody
      tr(v-for="(item, index) in getData" :key="index")
        td {{ item.firstName }}
        td {{ item.lastName }}
        td {{ item.position }}
        td {{ item.department }}

  table.table-fixed.border-collapse.border.border-green-800(class="w-1/3")
    thead
      tr
        th ลาพักผ่อน
        th ลากิจ
        th ลาป่วย
        th ยอดคงเหลือ
    tbody
      tr(v-for="(item, iLeave) in leaveData" :key="iLeave")
        td {{ item.leave }}
        td {{ item.personalLeave }}
        td {{ item.sickLeave }}
        td {{ item.remainingLeave }}

  table.table-fixed.border-collapse.border.border-green-800(class="w-1/12")
    thead
      tr
        th ตัวเลือก
    tbody
      tr(v-for="(item, index) in getData" :key="index")
        td
          .flex.items-center.justify-around
            ModalUpdate(name="create-outline" :employee="item" @click="putEmployees(item)")
            ion-icon(class="cursor-pointer p-2 rounded-full text-white bg-red-400 hover:bg-red-500 focus:outline-none" name="exit-outline"  @click="leaveCompany(item)")

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { mapGetters } from 'vuex'
import ModalUpdate from '../modals/Update.vue'

export default defineComponent({
  components: { ModalUpdate },
  computed: {
    ...mapGetters({ getData: 'getData', leaveData: 'leave/getData' }),
  },
  methods: {
    putEmployees(employee: any) {
      this.$store.dispatch('putEmployees', employee)
    },
    leaveCompany(employee: any) {
      if (confirm('คุณต้องการเปลี่ยนสถานะพนักงานคนนี้เป็นลาออกใช่หรือไม่')) {
        this.$store.dispatch('leaveCompany', employee)
        this.$store.dispatch('leave/deleteLeave', employee)
        this.$store.dispatch('leave/putLeaveResinged', employee)
      }
    },
  },
})
</script>
<style lang="postcss" scoped>
td,
th {
  @apply border border-green-200 text-center;
}
</style>
