<template lang="pug">
div
  div.space-x-3
    input#vacation(type="checkbox" value="ลาพักผ่อน" v-model="option")
    label(for="vacation") ลาพักผ่อน
  div.space-x-3
    input#leave(type="checkbox" value="ลากิจ" v-model="option")
    label(for="leave") ลากิจ
  div.space-x-3
    input#sick(type="checkbox" value="ลาป่วย" v-model="option")
    label(for="sick") ลาป่วย
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  name: 'Checkbox',
  data: () => ({
    option: [],
  }),
})
</script>
