<template lang="pug">
.content
  select.selected(v-model="idCard")
    option(v-for="option in options" v-bind:value="option.value") {{ option.text }}
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { mapGetters } from 'vuex'
export default defineComponent({
  name: 'Dropdown',
  props: ['value'] as any,
  data() {
    return {
      idCard: '',
      options: [],
    }
  },
  computed: {
    ...mapGetters(['getData']),
  },
  watch: {
    id(value: any) {
      this.$emit('input', value)
    },
  },
  created() {
    this.$emit('input', this.id)
    if (this.value) {
      this.idCard = this.value
    }
  },
  mounted() {
    this.options = this.getData.map((e: any) => ({
      text: e.firstName + ' ' + e.lastName,
      value: e.idCard,
    }))

    this.fetchActiveOfficers()
  },
  methods: {
    fetchActiveOfficers() {
      this.$store.dispatch('fetchActiveOfficers')
    },
    putAddLeave() {
      this.$store.dispatch('putAddLeave', {
        idCard: this.idCard,
        leave: this.leave,
        personalLeave: this.personalLeave,
        sickLeave: this.sickLeave,
      })
    },
  },
})
</script>
<style lang="postcss" scoped>
select {
  @apply px-3 border-black border rounded-sm;

  height: 2.5rem;
}
.selected {
  @apply border-2 w-full;
}
</style>
