<template lang="pug">
.content
  select.selected(v-model="position")
    option(v-for="option in options" v-bind:value="option.value") {{ option.text }}
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  name: 'Dropdown',
  props: ['value'] as any,
  data() {
    return {
      position: 'Manager',
      options: [
        { text: 'Manager', value: 'Manager' },
        { text: 'Sale Manager', value: 'Sale Manager' },
        { text: 'CEO', value: 'CEO' },
      ],
    }
  },
  watch: {
    position(value: any) {
      this.$emit('input', value)
    },
  },
  created() {
    this.$emit('input', this.position)
    if (this.value) {
      this.position = this.value
    }
  },
  methods: {
    addData() {
      this.$store.dispatch('addEmployees', {
        position: this.position,
      })
    },
  },
})
</script>
<style lang="postcss" scoped>
select {
  @apply px-3 border-black border rounded-sm;

  height: 2.5rem;
}
.selected {
  @apply border-2 w-full;
}
</style>
