<template lang="pug">
.content
  select.selected(v-model="department")
    option(v-for="option in options" v-bind:value="option.value") {{ option.text }}
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  name: 'Dropdown',
  data() {
    return {
      department: 'Cashier',
      options: [
        { text: 'Cashier', value: 'Cashier' },
        { text: 'Supply', value: 'Supply' },
        { text: 'Cook', value: 'Cook' },
        { text: 'Lobby', value: 'Lobby' },
      ],
    }
  },
  watch: {
    department(value: any) {
      this.$emit('input', value)
    },
  },
  created() {
    this.$emit('input', this.department)
  },
  methods: {
    addData() {
      this.$store.dispatch('addEmployees', {
        department: this.department,
      })
    },
  },
})
</script>
<style lang="postcss" scoped>
select {
  @apply px-3 border-black border rounded-sm;

  height: 2.5rem;
}
.selected {
  @apply border-2 w-full;
}
</style>
