<template lang="pug">
.flex.justify-around
  .space-x-2
    input#one(type="radio" value="ชาย" v-model="picked")
    label(for="one") ชาย
  .space-x-2
    input#two(type="radio" value="หญิง" v-model="picked")
    label(for="two") หญิง
  .space-x-2
    input#three(type="radio" value="เพศทางเลือก" v-model="picked")
    label(for="three") เพศทางเลือก

</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  name: 'Radio',
  data: () => ({
    picked: [],
  }),
})
</script>
